<template>
  <div>
    <h1>Looping through array of objects</h1>
    <ul>
      <li v-for="(item, n) in interests" :key="n">
        {{ item.title }}
        <ol v-if="item.favorite.length>0">
          <li v-for="(fav, m) in item.favorite" :key="m">
            {{ fav }}
          </li>
        </ol>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      interests: [
        { title: "TV", favorite: ["Designated Survivor", "Spongebob"] },
        { title: "Games", favorite: ["CS:GO"] },
        { title: "Sports", favorite:[]},
      ],
    };
  },
};
</script>

<style>
</style>