$color-green: #4fc08d;
$color-grey: #2c3e50;
$color-blue: #003366;
h1 {
  margin-top: 60px;
  text-align: center;
  color: $color-grey;
  + h2 {
    text-align: center;
    color: $color-green;
  }
}
ul {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding: 30px;
  border: 1px solid rgba(0,0,0,0.25);
  > li {
    color: $color-grey;
    margin-bottom: 4px;
  }
}