<template>
    <div>
        <h1>My first component!</h1>
    </div>
</template>

<script>
export default {

}
</script>

<style>
    h1 {
        font-family: 'Avenir',Arial, Helvetica, sans-serif;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>