<template>
    <div>
        <h1>{{ isUppercase ? title.toUpperCase():title}}</h1>
    </div>
</template>

<script>
export default {
    data(){
        return {
            title: 'My first component!',
            isUppercase: true,
        }
    }
}
</script>

<style>

</style>